.color{
    color: #fcbdb4; /* color: rgb(252, 189, 180) */
    color: #f97c69; /* color: rgb(249, 124, 105) */
    color: #7f67f8; /* color: rgb(127, 103, 248) */
    color: #0b0c11; /* color: rgb(11, 12, 17) */
    color: #2c363e;
    color: #363d41; /* color: rgb(54, 61, 65) */
    color: #8d8d8d; /* color: rgb(141, 141, 141)*/
    color: #5e5e5e; /* color: rgb(94, 94, 94) */
}